<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267421790258-723k33i4cnqepbui649hslth7gmg1h0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267421790258-723k33i4cnqepbui649hslth7gmg1h0p</string>
	<key>API_KEY</key>
	<string>AIzaSyBk5YfSLPixTtNVaBC3LCFqUm3dd26MIpE</string>
	<key>GCM_SENDER_ID</key>
	<string>267421790258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamitseyrek.OnlineTicTacToeGame</string>
	<key>PROJECT_ID</key>
	<string>onlinetictactoegame-414e2</string>
	<key>STORAGE_BUCKET</key>
	<string>onlinetictactoegame-414e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267421790258:ios:2e5cde2ab85d3facba8c2b</string>
</dict>
</plist>